# ignore all files in any directory named build
wp-admin/
wp-includes/
wp-content/uploads/wc-logs
node_modules/
/bin
/out
/target

#ignore files
.log
.lock
.tmp
.DS_Store
Thumbs.db
.idea/workspace.xml
.htaccess

# ignore log files and databases
*.log
*.sql
*.sqlite

wp-config.php 
_wpeprivate
wp-content/uploads 
wp-content/plugins
wp-content/mu-plugins/
wp-content/uploadsss
wp-content/blogs.dir
wp-content/upgrade
wp-content/object-cache.php
wp-content/mysql.sql
wp-content/mu-plugins/mu-plugin\.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/wpengine-common
wp-content/mu-plugins/limit-login-attempts
\.hqx$
\.bin$
\.exe$
\.dll$
\.deb$
\.dmg$
\.iso$
\.img$
\.msi$
\.msp$
\.msm$
\.mid$
\.midi$
\.kar$
\.mp3$
\.ogg$
\.m4a$
\.ra$
\.3gpp$
\.3gp$
\.mp4$
\.mpeg$
\.mpg$
\.mov$
\.webm$
\.flv$
\.m4v$
\.mng$
\.asx$
\.asf$
\.wmv$
\.avi$