@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
    font-weight: 100 900;
}

:root{
    @apply font-inter;
}

/* Custom base styles */

@layer base{
    label{
        @apply block text-sm font-medium leading-6 text-zinc-800;
    }
    label .required{
        @apply text-red-400 no-underline;
    }
    input:disabled{
        @apply bg-gray-200 cursor-not-allowed;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        @apply appearance-none m-0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="number"],
    input[type="date"]{
        @apply block w-full h-[40px] rounded border-0 px-4 py-1.5 text-zinc-800 font-medium shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-gray-400 focus:ring-opacity-70 sm:text-sm sm:leading-6;
    }
    textarea{
        @apply block h-[100px] resize-none w-full rounded border-0 px-4 py-1.5 text-zinc-800 font-medium shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6;
    }
    select{
        @apply w-full h-[40px] rounded border-0 px-4 py-1.5 text-zinc-800 font-medium shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-gray-400 focus:ring-opacity-70 sm:text-sm sm:leading-6;
    }
}

@layer components{
    .btn{
        @apply py-2 px-6 font-medium rounded hover:bg-opacity-80 transition-opacity text-white text-center;
    }
    .btn-sm{
        @apply text-sm;
    }
    .btn-md{
        @apply text-base;
    }
    .btn-lg{
        @apply text-lg;
    }
    .btn-blue{
        @apply bg-blue-950 text-gray-200;
    }
}

@media screen and (min-width: 1024px) {
    .form-scroll{
        height: calc(100vh - 100px);
    }
}

/* width */
::-webkit-scrollbar { 
    @apply w-[8px]; 
} 
 
/* Track */
::-webkit-scrollbar-track { 
    @apply bg-gray-100;
} 
  
/* Handle */
::-webkit-scrollbar-thumb { 
    @apply bg-gray-400;
} 
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
   @apply bg-opacity-75;
}

/* mobile code */
.mobile-code{
    height: calc(100% - 2px);
}
.mobile-code + input[type="tel"]{
    @apply pl-14;
}