/*
    Theme Name      :   mortgage-house
    Description     :   Mortgage-house is a child theme of Twenty Twenty-One.
    Author          :   Vidur Tuli
    Template        :   twentytwentyone
    Version         :   1.0.0
    Text Domain     :   mortgage-house
*/

